body {
    background: #161a09;
}
h1 {
    color: #bbcab1;
    text-align: center;
}
h2 {
    color: #e9d7be;
    text-align: center;
}
body {
    color: #ccc;
}
a {
    color: #e84a58;
    text-decoration: underline;
}
.icon-bar {
    position: relative;
}
.icon-bar label {
    color: #bbcab1;
    font-size: 1.5rem;
}
.icon-bar a {
    text-decoration: none;
}
.icon-bar {
    background: none;
}
.item.current {
    background-color: #273300;
    cursor: default;
}
.item.current label {
    cursor: default;
}
.disclaimer {
    color: #aaa;
    font-size: 90%;
    border-bottom: 1px solid #666;
    padding-left: 2em;
}
table {
    margin: 0 auto 2em;
    border: none;
    background-color: rgba(255, 255, 255, .1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
table thead {
    background-color: rgba(232, 74, 88, 0.1);
}
table thead tr td {
    color: #ccc;
}
table tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, .1);
}
table tr td {
    color: #ccc;
    background-color: transparent;
}
.metroid {
    background-image: url(../img/metroids.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    -webkit-animation: metroid 2s steps(8) infinite;
    -moz-animation: metroid 2s steps(8) infinite;
    -o-animation: metroid 2s steps(8) infinite;
    animation: metroid 2s steps(8) infinite;
}
form {
    color: inherit;
}
form .fanlabel {
    line-height: 32px;
    font-size: 90%;
    text-align: left;
    float: right;
}
@-webkit-keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
@-moz-keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
@-o-keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
@keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
