body {
    background: #161a09;
}
h1 {
    color: #bbcab1;
}
h2 {
    color: #e9d7be;
}
body {
    color: #ccc;
}
a {
    color: #e84a58;
    text-decoration: underline;
}
.metroid {
    background: url(../img/metroids.png);
    height: 100px;
    width: 100px;
    margin: 0 auto;
    -webkit-animation: metroid 2s steps(8) infinite;
    -moz-animation: metroid 2s steps(8) infinite;
    -o-animation: metroid 2s steps(8) infinite;
    animation: metroid 2s steps(8) infinite;
}
@-webkit-keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
@-moz-keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
@-o-keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
@keyframes metroid {
    100% {
        background-position: 0 -800px;
    }
}
